git+git://github.com/nicolaiarocci/eve.git@develop
redis==2.10.5
Eve-docs==0.1.4
Eve-Swagger==0.0.4
gevent==1.1.2
PyJWT==1.4.1
cffi==1.7.0
cryptography==1.4
enum34==1.1.6
pyasn1==0.1.9
pycparser==2.14
requests==2.10.0
rsa==3.4.2
six==1.10.0
wsgiref==0.1.2
